<body>
<h1>YOUR FELLOW ROBOTS</h1>

<% @robots.each do |robot| %>
  <h3>
    <%= robot.name %><br>
    <a href="/robots/<%= robot.id %>"><img src="<%= robot.avatar %>" width="100"/></a>

  </h3>
<% end %>
</body>
