<h1>Register</h1>
<form action="/robots" method="post">
  <p>Robot Name:</p>
  <input type="text" name="robot[name]"/><br/>
  <p>City:</p>
  <input type="text" name="robot[city]"/>
  <p>State:</p>
  <input type="text" name="robot[state]"/>
  <p>Birthdate:</p>
  <input type="text" name="robot[birthdate]"/>
  <p>Date Hired:</p>
  <input type="text" name="robot[date_hired]"/>
  <p>Department:</p>
  <input type="text" name="robot[department]"/>
  <p>Avatar:</p>
  <input type="text" name="robot[avatar]"/>
  <br>
  <br>
  <input type="submit" value="Register"/>
</form>
